.animate-scroll {
  animation: animation-scroll 2.6s ease-in-out infinite !important;
}
@keyframes animation-scroll {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(18px);
  }
  100% {
    transform: translateY(0);
  }
}
.wrapper {
  display: grid;
  place-items: center;
}

.typing-demo {
  width: 17ch;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
}
.typing-demo-per {
  width: 17ch;
  animation: typing 2s steps(23), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-left: 3px solid;
  font-family: monospace;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.ltr-text {
  direction: ltr;
}
.rtl-text {
  direction: rtl;
}
.cst-shadow {
  filter: drop-shadow(6px 2px var(--primary));
}
