body::-webkit-scrollbar {
  background-color: #151418;
  width: 6px;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 50px;
}
body {
  background-color: #151418;
  overflow-x: hidden;
}
